@charset "utf-8";

/*Images are aligned vertically in each div.logo by following the instructions on http://stackoverflow.com/questions/7273338/how-to-properly-align-an-image-vertically*/

.logo {
	height: 70px;
	width: 200px;
	margin: 10px 20px 10px 20px;
	float: left;
	text-align: center;
}

.helper {
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

#content img {
	vertical-align: middle;
	max-height: 70px;
	max-width: 200 px;
}

