---
---
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  padding-top: 70px;
  margin-bottom: 60px;
//  background: url(../assets/background/IMG_0645.JPG) no-repeat center center fixed;
//  -webkit-background-size: cover;
//  -moz-background-size: cover;
//  -o-background-size: cover;
//  background-size: cover;
}

h1, h2, h3, p, a {
  font-family: 'Kameron', serif;
}

a {
  color: #003171;
}

.top-buffer {
  margin-top: 20px;
}

.bottom-buffer {
  margin-bottom: 20px;
}

.bottom-buffer-lg {
  margin-bottom: 40px;
}

/* Inspired by http://stackoverflow.com/questions/22196587/how-to-center-align-vertically-the-container-in-bootstrap */
.vertical-center {
  min-height: 80%; /* Fallback for browsers that do not support vh unit */
  min-height: 80vh;
  display: flex;
  align-items: center;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;

  .container {
    padding-right: 15px;
    padding-left: 15px;

    p {
      margin: 20px 0;
    }
  }
}

