@charset "utf-8";

@font-face {
	font-family: 'Source Sans Pro';
	src: url(../fonts/source-sans-pro/SourceSansPro-Regular.otf);
}

@font-face {
	font-family: 'Source Sans Pro ExtraLight';
	src: url(../fonts/source-sans-pro/SourceSansPro-ExtraLight.otf);
}

@font-face {
	font-family: 'Source Sans Pro Light';
	src: url(../fonts/source-sans-pro/SourceSansPro-Light.otf);
}

@font-face {
	font-family: 'Source Sans Pro Semibold';
	src: url(../fonts/source-sans-pro/SourceSansPro-Semibold.otf);
}

@font-face {
	font-family: 'Source Sans Pro Bold';
	src: url(../fonts/source-sans-pro/SourceSansPro-Bold.otf);
}

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}

#container {
	position: relative;
	height: auto !important;
	min-height: 100%;
}

#content {
	margin: 0 auto 0 auto;
	padding: 50px 0 100px 0;
	font-family: "Source Sans Pro", Verdana, Arial;
	overflow: hidden;
}

#content > * {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
}

a:link, a:visited {
	color: #06F;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1 {
	color: #0099CC;
}

#footer {
	position: absolute;
	opacity: 0.8;
	bottom: 0;
	width: 100%;
	margin: 5px 0px 0px 0px;
	padding: 5px 0px 0px 0px;
	background-color: #262626;
	color: #EDEDED;
	text-align: center;
	font-family: "Source Sans Pro Light", Verdana, Arial;
}

#footer a:link, #footer a:visited {
	text-decoration: none;
	color: #09F;
}

#footer a:hover {
	text-decoration: underline;
}

