@charset "utf-8";

@font-face {
	font-family: 'Source Sans Pro';
	src: url(../fonts/source-sans-pro/SourceSansPro-Regular.otf);
}

@font-face {
	font-family: 'Source Sans Pro ExtraLight';
	src: url(../fonts/source-sans-pro/SourceSansPro-ExtraLight.otf);
}

@font-face {
	font-family: 'Source Sans Pro Light';
	src: url(../fonts/source-sans-pro/SourceSansPro-Light.otf);
}

@font-face {
	font-family: 'Source Sans Pro Semibold';
	src: url(../fonts/source-sans-pro/SourceSansPro-Semibold.otf);
}

@font-face {
	font-family: 'Source Sans Pro Bold';
	src: url(../fonts/source-sans-pro/SourceSansPro-Bold.otf);
}

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	background: url(../assets/dp_background.JPG) no-repeat;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#container {
	position: relative;
	height: auto !important;
	min-height: 100%;
}

#navigation {
	background-color: #262626;
	width: 100%;
	height: 50px;
	position: fixed;
	top: 0px;
	opacity: 0.8;
	font-family: "Source Sans Pro Semibold", Verdana, Arial;
}

#nav_contents {
	margin: 0px auto;
	width: 960px;
	height: 50px;
}

#title {
	color: #EDEDED;
	font-weight: bold;
	font-size: 25px;
	float: left;
	width: 300px;
	line-height: 50px;
	font-family: "Source Sans Pro Bold", Verdana, Arial;
}

#navbar {
	list-style-type: none;
	display: inline-block;
	margin: 0px 0px;
	padding-left: 0px;
}

#navbar li {
	display: inline;
	line-height: 50px;
}

.selected a {
	background-color: #555;
}

#navigation a {
	display: inline-block;
	text-decoration: none;
	text-transform: uppercase;
	padding: 0px 20px;
	margin: 0px 0px;
	color: #EDEDED;
}

#navigation a:hover {
	color: #BDBDBD;
}

#badges {
	float: right;
	line-height: 50px;
	margin: 0 0;
	padding: 0 0;
}

/*Images are aligned vertically in each logo by following the instructions on http://stackoverflow.com/questions/7273338/how-to-properly-align-an-image-vertically*/

#badges .logo {
	height: 50px;
	width: 50px;
	margin: 0;
	float: left;
	text-align: center;
}

#badges .logo a {
	padding: 0 5px;
	border: none;
}

.helper {
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

#badges img {
	vertical-align: middle;
	text-align: center;
	max-height: 50px;
	max-width: 50px;
	border: none;
}

#content {
	margin: 50px auto 0 auto;
	padding-top: 50px;
	padding-bottom: 50px;
	width: 960px;
	font-family: "Source Sans Pro", Verdana, Arial;
	color: #FFF;
	overflow: hidden;
}

#introduction p {
	margin: 0 auto;
	padding: 35px;
	width: 890px;
	text-align: justify;
	font-size: 28px;
	background-color: rgb(47, 47, 47);
	background-color: rgba(47, 47, 47, 0.7);
}

#footer {
	position: absolute;
	opacity: 0.8;
	bottom: 0;
	width: 100%;
	margin: 5px 0px 0px 0px;
	padding: 5px 0px 0px 0px;
	background-color: #262626;
	color: #EDEDED;
	text-align: center;
	font-family: "Source Sans Pro Light", Verdana, Arial;
}

#footer a:link, #footer a:visited {
	text-decoration: none;
	color: #06F;
}

#footer a:hover {
	text-decoration: underline;
}

