---
---

.jumbotron {
  position: relative;
  background: url({{ site.baseurl }}/assets/glass-dark.jpg) no-repeat center center;
  background-size: cover;
  color: #fff;

  &:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    opacity: 1;
  }
}

.intro {
  position: relative;
  z-index: 100;
}
