---
---
<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head_includes.html %}
    <link rel="stylesheet" href="/css/projects.css">
    <title>Michael Tu</title>
  </head>
  <body>
    {% assign url = page.url|remove:'index.html' %}
    {% include navigation.html %}
    <div class="container projects pt-5 pb-5">
      <div class="row">
        <div class="col-md-12">
          <h1>Projects</h1>
        </div>
      </div>

      {% for project in site.data.projects %}
        <div class="row mb-3">
          <div class="col-md-12">
            <section>
              <div class="row">
                <div class="col-md-8">
                    <h2>{{ project.name }}</h2>
                </div>
                <div class="col-md-4">
                  <h3 class="project-technologies">{{ project.technologies }}</h3>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <p class="project-description">{{ project.description }}</p>
                </div>
              </div>
              {% if project contains 'screenshots' %}
              <div class="row pt-3 pb-3">
                <div class="col-md-12">
                  <!-- Inspired by http://stackoverflow.com/a/27620655/2514889 -->
                  <div class="cover-container">
                    {% for screenshot in project.screenshots %}
                    <div class="cover-item">
                      <a class="fancybox" rel="group" href="{{ screenshot.fullsize }}" title="{{ screenshot.description }}">
                        <img src="{{ screenshot.thumbnail }}" alt>
                      </a>
                    </div>
                    {% endfor %}
                  </div>
                </div>
              </div>
              {% endif %}
              <div class="row">
                <div class="col-md-12">
                  {% for link in project.links %}
                    <a class="project-link" href="{{ link.href }}" target="_blank">{{ link.display }}</a>
                  {% endfor %}
                </div>
              </div>
            </section>
          </div>
        </div>
      {% endfor %}

    </div>
    {% include footer.html %}
    {% include counter.html %}
  </body>
</html>
