---
---
<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head_includes.html %}
    <link rel="stylesheet" href="/css/projects.css">
    <title>Michael Tu</title>
  </head>
  <body>
    {% assign url = page.url|remove:'index.html' %}
    {% include navigation.html %}
    <div class="container projects bottom-buffer">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <h1>Projects</h1>
        </div>
      </div>

      {% for project in site.data.projects %}
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <section>
              <div class="row">
                <div class="col-md-8">
                    <h2>{{ project.name }}</h2>
                </div>
                <div class="col-md-4">
                  <h3 class="project-technologies">{{ project.technologies }}</h3>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <p class="project-description">{{ project.description }}</p>
                </div>
              </div>
              {% if project contains 'screenshots' %}
              <div class="row top-buffer bottom-buffer">
                <div class="col-md-12">
                  <div class="panel panel-default">
                    <div class="panel-body">
                      {% for screenshot in project.screenshots %}
                      <a class="fancybox" rel="group" href="{{ screenshot.fullsize }}" title="{{ screenshot.description }}">
                        <img src="{{ screenshot.thumbnail }}" alt>
                      </a>
                      {% endfor %}
                    </div>
                  </div>
                </div>
              </div>
              {% endif %}
              <div class="row">
                <div class="col-md-12">
                  {% for link in project.links %}
                    <a class="project-link" href="{{ link.href }}" target="_blank">{{ link.display }}</a>
                  {% endfor %}
                </div>
              </div>
            </section>
          </div>
        </div>
      {% endfor %}

    </div>
    {% include footer.html %}
    {% include counter.html %}
  </body>
</html>
