---
---
<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head_includes.html %}
    <title>Michael Tu</title>
  </head>
  <body>
    {% assign url = page.url|remove:'index.html' %}
    {% include navigation.html %}
    <div class="container projects">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <h1>Projects</h1>
        </div>
      </div>

      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <p class="text-danger">Screenshots are coming up...</p>
        </div>
      </div>

      {% for project in site.data.projects %}
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <section>
              <div class="row">
                <div class="col-md-8">
                  <div class="project-title">
                    <a href="{{ project.link }}" target="_blank"><h2>{{ project.name }}</h2></a>
                  </div>
                </div>
                <div class="col-md-4">
                  <h3 class="project-technologies">{{ project.technologies }}</h3>
                </div>
              </div>
              <p>{{ project.description }}</p>
            </section>
          </div>
        </div>
      {% endfor %}

    </div>
    {% include footer.html %}
    {% include counter.html %}
  </body>
</html>
