---
---
<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head_includes.html %}
    <link rel="stylesheet" href="/css/projects.css">
    <title>Michael Tu</title>
  </head>
  <body>
    {% assign url = page.url|remove:'index.html' %}
    {% include navigation.html %}
    <div class="container pt-5 pb-5">
      <div class="row">
        <div class="col-md-12">
          <h1>Legacy Projects</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="alert alert-warning" role="alert">
            These are projects I worked on a long time ago, during high school or the first
            or second year when I was an undergrad. Ah, the good old times..
          </div>
        </div>
      </div>

      {% for project in site.data.projects_legacy %}
        <div class="row mb-3">
          <div class="col-md-12">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">{{ project.name }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{ project.technologies }}</h6>
                <p class="card-text">{{ project.description }}</p>
                <section>
                  {% if project contains 'screenshots' %}
                  <div class="row pt-3 pb-3">
                    <div class="col-md-12">
                      <!-- Inspired by http://stackoverflow.com/a/27620655/2514889 -->
                      <div class="cover-container">
                        {% for screenshot in project.screenshots %}
                        <div class="cover-item">
                          <a class="fancybox" rel="group" href="{{ screenshot.fullsize }}" title="{{ screenshot.description }}">
                            <img src="{{ screenshot.thumbnail }}" alt>
                          </a>
                        </div>
                        {% endfor %}
                      </div>
                    </div>
                  </div>
                  {% endif %}
                </section>
                {% for link in project.links %}
                  <a class="card-link" href="{{ link.href }}" target="_blank">{{ link.display }}</a>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      {% endfor %}

      <a class="btn btn-dark" href="{{ site.url }}/projects">Primary Projects</a>

    </div>
    {% include footer.html %}
    {% include counter.html %}
  </body>
</html>
