---
---
<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head_includes.html %}
    <link rel="stylesheet" href="/css/frontpage.css">
    <script>
      // adapted from https://www.solodev.com/blog/web-design/adding-a-scroll-down-anchor-to-your-website.stml
      $(document).ready(function(){
        $("#learn-more").on('click', function(event) {
          if (this.hash !== "") {
            event.preventDefault();
            var hash = this.hash;
            $('html, body').animate({
              scrollTop: $(hash).offset().top
            }, 800, function(){
              window.location.hash = hash;
            });
          }
        });
      });
    </script>
    <title>Michael Tu</title>
  </head>
  <body>
    {% assign url = page.url|remove:'index.html' %}
    {% include navigation.html %}
    <div class="overlay">
      <div class="jumbotron">
        <div class="container">
          <div class="intro">
            <img src="assets/profile/profile-round.png" alt="Michael Tu" width="150">
            <h1 class="display-3">Hello, world!</h1>
            <p>I'm Michael, a graduate CS student at the University of Waterloo.
               My Chinese name is 涂竹成, so you often see Zhucheng Tu as my official name.
               I finished my undergrad in Software Engineering in 2017, also at Waterloo.</p>
            <p><a class="btn btn-info btn-lg" id="learn-more" href="#about" role="button">Learn more about me &raquo;</a></p>
          </div>
        </div>
      </div>
    </div>
    <div class="vertical-center">
      <div class="container" id="about">
        <div class="row mp-2">
          <div class="col-md-10 mx-auto">
            <p class="lead">
              I just graduated as a Master's student in the David R. Cheriton School of Computer Science at the University of Waterloo,
              specializing at the intersection of natural language processing and information retrieval, advised by
              Professor <a href="https://cs.uwaterloo.ca/~jimmylin/" target="_blank">Jimmy Lin</a>. I also completed my undergrad at uWaterloo majoring in Software Engineering,
              graduating on the Dean's Honour's List in June 2017.
            </p>
            <p class="lead">
              My interest is in natural language processing / text, applied machine learning, and building the
              infrastructure to support these goals. During my undergrad, I have done various internships focusing on
              various aspects of these responsibilities at Facebook, Uber, and Reflektion. One of my main strengths
              is I am skilled in building end-to-end systems, from the data pipelines in the backend to the clients in the
              frontend.
            </p>
            <p class="lead">
                My overarching goals have remained the same for many years: to be an earnest person
                whom can be relied upon and to never stop learning.
                I enjoy photography, travelling, reading, and expanding my technical breadth
                and depth by taking online courses.
            </p>
          </div>
        </div>
      </div>
    </div>
    {% include footer.html %}
    {% include counter.html %}
  </body>
</html>
