---
---
<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head_includes.html %}
    <link rel="stylesheet" href="/css/frontpage.css">
    <title>Michael Tu</title>
  </head>
  <body>
    {% assign url = page.url|remove:'index.html' %}
    {% include navigation.html %}
    <div class="vertical-center">
      <div class="container" id="about">
        <div class="row pt-4 pb-4">
          <div class="col-md-2 pt-4">
            <img class="mx-auto d-block" id="profile-image" src="assets/profile/profile-mammoth.jpg" alt="Michael Tu">
          </div>
          <div class="col-md-8 mx-auto pt-2 pb-4">
            <p class="text-justify">
              Hi, I'm Michael. My Chinese name is Zhucheng Tu (涂竹成).
              I'm an engineer working under Information Intelligence in AI/ML at Apple.
              I work on problems involving open-domain question answering and search.
              Nowadays, I primarily write code in Python and Go, and primarily use JAX and PyTorch for modeling.
            </p>
            <p class="text-justify">
              I graduated as a thesis-based Master's student from the <a href="https://cs.uwaterloo.ca/" target="_blank">David R. Cheriton School of Computer Science</a>
              at the <a href="https://www.uwaterloo.ca/" target="_blank">University of Waterloo</a> in 2018, specializing at the intersection of natural language processing and information retrieval.
              I was advised by Professor <a href="https://cs.uwaterloo.ca/~jimmylin/" target="_blank">Jimmy Lin</a>.
              I also completed my undergraduate studies at the University of Waterloo majoring in Software Engineering, graduating on the Dean's Honour's List in June 2017.
            </p>
            <p class="text-justify">
              My primary interests focus on building real NLP/IR systems that can apply advances from state-of-the-art research to production.
              Specifically, I am interested in working on systems and models that can find answers to knowledge-seeking questions from large unstructured text corpora.
              During my Master's my focus was on semantic textual similarity and retrieval-based question answering.
            </p>
            <p class="text-justify">
              During the past I've completed internships at Uber (Fall 2016, fraud detection), Facebook (Winter 2016, Instagram data engineering), and Reflektion (Summer 2015 & Fall 2014, ML infra and backend).
              One of my strengths is being able build systems from end-to-end across the entire stack, from modeling, to infrastructure / backend, to the client.
            </p>
            <p class="text-justify">
                My overarching goals have remained the same for many years: to be an earnest person
                whom can be relied upon and to never stop learning.
                I am interested in photography, travelling, skiing, reading, history, and astronomy.
                I am currently learning snowboarding, playing the guitar, and playing hockey.
            </p>
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">News</h5>
                <ul>
                  <li><span class="font-weight-bold">2022.07</span> We submitted a system to the <a href="https://mia-workshop.github.io/shared_task.html" target="_blank">Shared Task on Cross-Lingual Open-Retrieval QA</a> at the Workshop on Multilingual Information Access co-located with NAACL 2022. Read our <a href="https://arxiv.org/abs/2207.01940" target="_blank">system description paper here</a>.</li>
                  <li><span class="font-weight-bold">2021.06</span> Our paper <a href="https://www.aclweb.org/anthology/2021.naacl-main.44/" target="_blank">Open-Domain Question Answering Goes Conversational via Question Rewriting</a> was accepted at NAACL 2021.</li>
                  <li><span class="font-weight-bold">2021.04</span> Our paper <a href="https://link.springer.com/chapter/10.1007/978-3-030-72240-1_43" target="_blank">A Comparison of Question Rewriting Methods for Conversational Passage Retrieval</a> was accepted at ECIR 2021.</li>
                  <li><span class="font-weight-bold">2021.03</span> Our paper <a href="https://dl.acm.org/doi/10.1145/3437963.3441748" target="_blank">Question Rewriting for Conversational Question Answering</a> was accepted at WSDM 2021.</li>
                  <li><span class="font-weight-bold">2020.11</span> Our paper <a href="https://www.aclweb.org/anthology/2020.scai-1.2/" target="_blank">A Wrong Answer or a Wrong Question? An Intricate Relationship between Question Reformulation and Answer Selection in Conversational Question Answering</a> at the 2020 <a href="https://scai.info" target="_blank">Workshop on Search-Oriented Conversational AI</a> received the <span class="text-danger">best paper award</span>.</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% include footer.html %}
    {% include counter.html %}
  </body>
</html>
