<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" href="#">Michael Tu</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      {% for link in site.navigation %}
      <li {% if url == link.url %}class="nav-item active" {% else %} class="nav-item" {% endif %}>
        <a class="nav-link" href="{{link.url}}">{{link.text}}</a>
      </li>
      {% endfor %}
      {% assign url = nil %}
    </ul>

    <div class="navbar-nav social-btns">
        <a class="btn github" href="https://github.com/tuzhucheng" target="_blank"><i class="fa fa-github-square fa-2x"></i></a>
        <a class="btn linkedin" href="http://ca.linkedin.com/in/tuzhucheng" target="_blank"><i class="fa fa-linkedin-square fa-2x"></i></a>
        <a class="btn twitter" href="https://twitter.com/tuzhucheng" target="_blank"><i class="fa fa-twitter-square fa-2x"></i></a>
        <a class="btn email" href="mailto:tuzhucheng@gmail.com" target="_blank"><i class="fa fa-envelope-o fa-2x"></i></a>
        <a class="btn google-scholar" href="https://scholar.google.com/citations?user=o9MQbVsAAAAJ&hl=en" target="_blank"><i class="fa ai ai-google-scholar-square ai-2x"></i></a>
    </div>
  </div>
</nav>
