---
---
<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head_includes.html %}
    <title>Michael Tu</title>
  </head>
  <body>
    {% assign url = page.url|remove:'index.html' %}
    {% include navigation.html %}
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h2>Zhucheng (Michael) Tu</h2>
          <p><a href="index.html" target="_blank">tuzhucheng.com</a> &#8226; <a href="http://ca.linkedin.com/in/tuzhucheng" target="_blank">linkedin.com/in/tuzhucheng</a> &#8226; <a href="mailto:z3tu@uwaterloo.ca">z3tu@uwaterloo.ca</a></p>
        </div>
        <hr>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h3>Computer Proficiency</h3>
          <ul>
            <li><b>Languages:</b> Python, Java, C/C++, JavaScript, HTML, CSS, R, and SQL</li>
            <li><b>Web Development:</b> AngularJS, React, jQuery, Node.js, Express.js, SASS, Spring Framework, and Thrift</li>
            <li><b>Mobile Development:</b> Android SDK, Windows SDK, and BlackBerry SDK</li>
            <li><b>Data:</b> Spark, Hadoop Streaming, Storm, numpy, pandas, scikit-learn, D3.js, and various R packages (eg. tm and rpart)</li>
            <li><b>Databases:</b> MySQL, PostgreSQL, SQLite, MongoDB, Redis, and Cassandra</li>
            <li><b>Environments:</b> Arch Linux and Mac OS X, Bash, Vim, JetBrains IDEs, Eclipse, Git, and tmux</li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h3>Work Experience</h3>
          <p><b>Software Engineering Intern</b>, Machine Learning Team, Reflektion, San Mateo, CA    <span class="pull-right">Apr. 2015 – Present</span></p>
          <ul>
            <li>Designing and implementing product normalization in the daily data sync pipeline</li>
            <li>Helped evaluate and improve product recommendation quality in the product clustering pipeline</li>
            <li>Integrated trending item ranking functionality by revenue in recommendation algorithms</li>
          </ul>
        </div>
        <div class="col-md-12">
          <p><b>Software Engineering Intern</b>, Front-End Analytics Team and Machine Learning Team, Reflektion, San Mateo, CA    <span class="pull-right">Aug. 2014 – Dec. 2014</span></p>
          <ul>
            <li>Implemented a significant part of the in-house experiment framework in Python with data pipeline involving Kafka, Storm, Redis, and Cassandra</li>
            <li>Prototyped a monitoring and alerting system powered by StatsD, Graphite, and Cabot</li>
            <li>Optimized ElasticSearch customer data queries, improving API performance by up to 5x by reducing and combining queries</li>
          </ul>
        </div>
        <div class="col-md-12">
          <p><b>Web/Mobile Developer (Part-Time)</b>, University of Waterloo, Waterloo, ON    <span class="pull-right">May. 2015 – Aug. 2015</span></p>
          <ul>
            <li>Architected and built a responsive web application using MongoDB, AngularJS, Express.js, and Node.js to collect public opinions on the Kitchener-Waterloo ION LRT initiative</li>
            <li>Collaborated extensively with Civil Engineering graduate students to design the product</li>
          </ul>
        </div>
        <div class="col-md-12">
          <p><b>Software Developer</b>, Web Services Team, BlackBerry, Waterloo, ON    <span class="pull-right">Jan. 2014 – Apr. 2014</span></p>
          <ul>
            <li>Developed enterprise mobile device management APIs that needed to be backwards-compatible</li>
            <li>Worked with the Java, the Spring Framework, PostgreSQL, TestNG, Mockito, EclEmma, Maven, Jenkins, and a variety of design patterns</li>
          </ul>
        </div>
        <div class="col-md-12">
          <p><b>Mobile App Developer</b>, Systems Team, uWaterloo Centre for Extended Learning, Kitchener, ON    <span class="pull-right">Apr. 2013 – Aug. 2013</span></p>
          <ul>
            <li>Designed and developed a native Android app for proctors to track students during exam time</li>
            <li>Gained an extensive amount of experience with the Android SDK and SQLite when independently
            developing the student/seat search, seating map, import/export, and data synchronization features</li>
            <li>Conducted regular stakeholder consultations to ensure the UX and UI are smooth and intuitive</li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h3>Personal Projects</h3>
          <p><a href="https://github.com/tuzhucheng/uw-course-alerter" target="_blank"><span class="title">UW Course Alerter</span></a></p>
          <ul><li>Web service for notifying students to sign up for courses when the number of students drop below the enrollment cap for popular course lecture sections</li></ul>
          <p><a href="https://github.com/tuzhucheng/GRTSquare" target="_blank"><span class="title">GRT Square</span></a></p>
          <ul><li>Native C++ BlackBerry 10 Cascades/Qt app that can search for bus information offline</li></ul>
          <p><a href="https://github.com/tuzhucheng/fbhack2014" target="_blank"><span class="title">LaTeXMe</span></a></p>
          <ul><li>Invite friends to collaborate on math, with equations rendered beautifully on the screen. Made with the Facebook Graph API and MathJax.</li></ul>
          <p><a href="https://github.com/tuzhucheng/multichat" target="_blank"><span class="title">Chat Simulator (multichat)</span></a></p>
          <ul><li>Multithreaded Java server and client programs that can exchange messages over sockets, simulating a chat system</li></ul>
          <p><a href="https://github.com/tuzhucheng/gradebook-android" target="_blank"><span class="title">GradeTrackr</span></a></p>
          <ul><li>Collaboratively developed Android app to store marks and calculate grades, available on Google Play</li></ul>
          <p><span class="title">Sudoku Solver (<a href="https://github.com/tuzhucheng/sudoku-solver-js" target="_blank">JS</a>, <a href="https://github.com/tuzhucheng/Step-By-Step-Sudoku-Solver-for-Windows-8" target="_blank">C#</a>)</span></p>
          <ul><li>Wrote personal Sudoku solving algorithm in Java, later ported to JavaScript for an iOS web app and C# for a native Windows 8 app</li></ul>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h3>Research Experience</h3>
          <p><b>Research Assistant</b>, Center for Research and Education on Aging (CREA), University of California, Berkeley, CA    <span class="pull-right">Oct. 2014 – Present</span></p>
          <ul>
            <li>Built tools to help curate and visualize binary relations extracted from NLP on the PubMed corpus</li>
            <li>Working on building distributed pipeline for relation extraction using Docker and Apache Spark in Scala</li>
            <li>Attempting 3D human body model reconstruction from ~1800 parallel body cross-section images</li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h3>Education and Awards</h3>
          <p><span class="title">Bachelor of Software Engineering Candidate</span>, University of Waterloo, Waterloo, ON     <span class="pull-right">Sept. 2012 – Present</span></p>
          <ul>
            <li>Faculty Dean’s Honours List (1B and 2A)</li>
            <li>President’s Scholarship of Distinction (Sept. 2012)</li>
          </ul>
          <p><span class="title">Alberta High School and IB Diploma</span>, Western Canada High School, Calgary AB    <span class="pull-right">Sept. 2009 – June 2012</span></p>
          <ul>
            <li>University of Toronto National Book Award for superior academic performance, original and creative thought, and exceptional achievement in a broad context</li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h3>MOOCs</h3>
          <ul>
            <li>The Analytics Edge Certificate of Completion (Pending), MITx, Aug. 2015</li>
            <ul>
              Ranked in the top 21% in in-class Kaggle competition on the private testing set
            </ul>
            <li>Scalable Machine Learning Verified Certificate, UC BerkeleyX, June 2015</li>
            <li>Introduction to Big Data with Apache Spark Verified Certificate, UC BerkeleyX, July 2015</li>
            <li>Startup Engineering, Stanford University on Coursera, Aug. 2013</li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h3>Extra-Curricular Activities</h3>
          <ul>
            <li>Served as Academic Representative and Math Society Representative (Jan. 2013 – Dec. 2013)</li>
            <li>Participated in CalHacks 2014, Microsoft Windows 8 Hackathon, Facebook Hackathon, and HackWaterloo</li>
          </ul>
        </div>
      </div>
    </div>
    {% include footer.html %}
    {% include counter.html %}
  </body>
</html>
