---
---
<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head_includes.html %}
    <title>Michael Tu</title>
  </head>
  <body>
    {% assign url = page.url|remove:'index.html' %}
    {% include navigation.html %}
    <div class="vertical-center">
      <div class="container">
        <div class="row">
          <div class="col-md-offset-2 col-md-8 lead">
            <p class="text-center">Please see my LinkedIn page instead: <a href="http://ca.linkedin.com/in/tuzhucheng">http://ca.linkedin.com/in/tuzhucheng</a>.
              I will have a HTML version of my resume in summer 2015.</p>
          </div>
        </div>
      </div>
    </div>
    {% include footer.html %}
    {% include counter.html %}
  </body>
</html>
