---
---
<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head_includes.html %}
    <link rel="stylesheet" href="/css/post.css">
    <title>Michael Tu</title>
  </head>
  <body>
    {% assign url = page.url|remove:'index.html' %}
    {% include navigation.html %}
    <div class="overlay">
      <div class="jumbotron">
        <div class="container">
          <div class="intro">
            <h1 class="display-3">Blog</h1>
            <p>I currently use this blog to write about computer science. I used to also write about life
            and travel, but has sinced decided to write new posts about those topics on my
            <a href="https://bamboofortress.wordpress.com/">WordPress</a> blog.
            You will still find my old posts on those subjects here.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="container pt-5 pb-5">
      {% if paginator.posts.size > 0 %}
          {% for post in paginator.posts %}
          <div class="card border-info mb-3">
            <div class="card-body">
              <h5 class="card-title">{{ post.title }}</h5>
              <p class="card-text">{{ post.excerpt }}</p>
              <a href="{{ post.url }}" class="btn btn-outline-primary">Read</a>
              <p class="card-text"><small class="text-muted">{{ post.date | date: '%B %d, %Y' }}</small></p>
            </div>
          </div>
          {% endfor %}
      {% else %}
        <p class="pt-5 pb-5">There are no blog posts currently available.</p>
      {% endif %}

      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <!-- Bootstrap style pagination -->
          <div class="text-center">
            {% if paginator.total_pages > 1 %}
            <nav>
              <ul class="pagination">
                {% if paginator.previous_page %}
                <li>
                  <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                  </a>
                </li>
                {% else %}
                <li class="disabled">
                  <a href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                  </a>
                </li>
                {% endif %}

                {% for page in (1..paginator.total_pages) %}
                {% if page == paginator.page %}
                <li class="active"><a href="#">{{ page }}</a></li>
                {% elsif page == 1 %}
                <li><a href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a></li>
                {% else %}
                <li><a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a></li>
                {% endif %}
                {% endfor %}

                {% if paginator.next_page %}
                <li>
                  <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                </li>
                {% else %}
                <li class="disabled">
                  <a href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                </li>
                {% endif %}
              </ul>
            </nav>
            {% endif %}
          </div>
        </div>
      </div>

    </div>
    {% include footer.html %}
    {% include counter.html %}
  </body>
</html>
