---
---
<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head_includes.html %}
    <link rel="stylesheet" href="/css/post.css">
    <title>Michael Tu</title>
  </head>
  <body>
    {% assign url = page.url|remove:'index.html' %}
    {% include navigation.html %}
    <div class="container pt-5 pb-5">
      <div class="row">
        <div class="col-md-12">
          <h1>Blog</h1>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          {% if paginator.posts.size > 0 %}
            {% for post in paginator.posts %}
            <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
            <p class="author">
              <span class="date">{{ post.date | date: '%B %d, %Y' }}</span>
            </p>
            <div>
              <p>{{ post.excerpt }}</p>
            </div>
            {% endfor %}
          {% else %}
            <p class="pt-5 pb-5">There are no blog posts currently available.</p>
          {% endif %}
        </div>
      </div>

      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <!-- Bootstrap style pagination -->
          <div class="text-center">
            {% if paginator.total_pages > 1 %}
            <nav>
              <ul class="pagination">
                {% if paginator.previous_page %}
                <li>
                  <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                  </a>
                </li>
                {% else %}
                <li class="disabled">
                  <a href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                  </a>
                </li>
                {% endif %}

                {% for page in (1..paginator.total_pages) %}
                {% if page == paginator.page %}
                <li class="active"><a href="#">{{ page }}</a></li>
                {% elsif page == 1 %}
                <li><a href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a></li>
                {% else %}
                <li><a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a></li>
                {% endif %}
                {% endfor %}

                {% if paginator.next_page %}
                <li>
                  <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                </li>
                {% else %}
                <li class="disabled">
                  <a href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                </li>
                {% endif %}
              </ul>
            </nav>
            {% endif %}
          </div>
        </div>
      </div>

    </div>
    {% include footer.html %}
    {% include counter.html %}
  </body>
</html>
